.vote-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.add-form__answer {
  width: 100%;
  margin-bottom: 30px;
  background: none;
  border: none;
  font-size: 0.9rem;
  color: white;
  padding-bottom: 5px;
}

.add-form__question {
  font-weight: 500;
  background: none;
  word-wrap: break-word;
  font-size: 1rem;
  color: white;
  margin-bottom: 40px;
  padding-bottom: 5px;
}
